<!doctype html>
<html lang="en">

{{#stock_detail}}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>{{ticker}} 상세페이지</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/192x192.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="__manifest.json">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitleContainer">
            <div class="ticker" id="ticker">{{ticker}}</div>
            <div class="name">({{name}})</div>
        </div>
        <div class="right">
            <a href="app-notifications.html" class="headerButton" data-bs-toggle="modal"
                data-bs-target="#actionSheetShare">
                <ion-icon name="share-social-outline"></ion-icon>
            </a>
        </div>
    </div>
    <!-- * App Header -->


    <!-- Share Action Sheet -->
    <div class="modal fade action-sheet inset" id="actionSheetShare" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Share with</h5>
                </div>
                <div class="modal-body">
                    <ul class="action-button-list">
                        <li>
                            <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                                <span>
                                    <ion-icon name="logo-facebook"></ion-icon>
                                    Facebook
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                                <span>
                                    <ion-icon name="logo-twitter"></ion-icon>
                                    Twitter
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                                <span>
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    Instagram
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                                <span>
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                    Linkedin
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- * Share Action Sheet -->

    <!-- App Capsule -->
    <div id="appCapsule">


        <!-- Coin Status -->
        <div class="section full gradientSection">
            <div class="in coin-head">
                <h1 class="total">$ {{price}}</h1>
                <h4 class="caption">
                    <span id="iconbox" class="iconbox text-success">
                        <ion-icon id="icon" name="caret-up"></ion-icon>
                    </span>
                    <span id="pctChange">{{pctChange}}</span>%
                </h4>
            </div>
        </div>
        <script>
            var pctChangeElem = document.getElementById("pctChange");
            var iconboxElem = document.getElementById("iconbox");
            var iconElem = document.getElementById("icon");
            var pctChange = pctChangeElem.textContent;
            if(pctChange >= 0){
                pctChangeElem.innerHTML = `+${pctChange}`;
                iconboxElem.classList.add("text-success");
                iconboxElem.classList.remove("text-danger");
                iconElem.setAttribute('name', 'caret-up');
            } else {
                pctChangeElem.innerHTML = `${pctChange}`;
                iconboxElem.classList.add("text-danger");
                iconboxElem.classList.remove('text-success');
                iconElem.setAttribute('name', 'caret-down');
            }
        </script>
        <!-- * Coin Status -->


        <!-- Coin Chart -->
        <div class="section mb-2">

            <div class="card coin-chart">
                <script src="https://code.highcharts.com/stock/highstock.js"></script>
                <script src="https://code.highcharts.com/stock/modules/data.js"></script>
                <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
                <script src="https://code.highcharts.com/stock/modules/heikinashi.js"></script>
                <script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>
                <div class="tab-content">
                    <div class="chart" id="stockChart"></div>
                    <script src="/js/lib/bollinger.js"></script>
                </div>

            </div>
        </div>
        <!-- Coin Chart -->


        <!-- Buttons -->
        <!-- <div class="section">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="crypto-exchange.html" class="btn btn-block btn-lg btn-success">BUY</a>
                        </div>
                        <div class="col">
                            <a href="crypto-exchange.html" class="btn btn-block btn-lg btn-secondary">SELL</a>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
        <!-- Buttons -->

        <!-- Stats -->
        <div class="section mt-2 mb-4">
            <div class="card">
                <ul class="listview no-line transparent flush simple-listview">
                    <li>
                        <div class="text-muted">시가총액</div>
                        <strong>${{formattedMarketCap}}</strong>
                    </li>
                    <li>
                        <div class="text-muted">거래량</div>
                        <strong>{{formattedVolume}}</strong>
                    </li>
                    <li>
                        <div class="text-muted">PER</div>
                        <strong>{{per}}</strong>
                    </li>
                    <li>
                        <div class="text-muted">배당률</div>
                        <strong>{{dividendRate}}</strong>
                    </li>
                    <li>
                        <div class="text-muted">배당액</div>
                        <strong>{{dividendYield}}</strong>
                    </li>
                </ul>
            </div>
            <!-- <div class="card mt-2">
                <div class="card-body">
                    <div class="row mb-05 fontsize-sub">
                        <div class="col text-success"><strong>72% Buy</strong></div>
                        <div class="col text-secondary text-end"><strong>26% Sell</strong></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 72%" aria-valuenow="72"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 28%" aria-valuenow="28"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Stats -->

        <!-- News -->
        <div class="section full mt-4 mb-4">
            <div class="section-heading padding">
                <h2 class="title">{{ticker}} 뉴스요약</h2>
            </div>

            <!-- carousel multiple -->
            <div class="carousel-multiple splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {{#news_summaries}}
                        <li class="splide__slide">
                            <div class="blog-card">
                                <div class="text">
                                    {{newsSummary}}
                                </div>
                            </div>
                        </li>
                        {{/news_summaries}}
                    </ul>
                </div>
            </div>
            <!-- * carousel multiple -->

        </div>
        <!-- * News -->


        <div class="section inset mb-4 mt-4">
            <div class="accordion" id="accordionExample1">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion01">
                            What is Bitcoin?
                        </button>
                    </h2>
                    <div id="accordion01" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at feugiat tellus. Sed quis
                            velit tellus.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion02">
                            How Bitcoin works?
                        </button>
                    </h2>
                    <div id="accordion02" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at feugiat tellus. Sed quis
                            velit tellus.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion03">
                            How can i buy/sell Bitcoin?
                        </button>
                    </h2>
                    <div id="accordion03" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at feugiat tellus. Sed quis
                            velit tellus.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- app footer -->
        <div class="appFooter">
            <div class="footer-title">
                Copyright © Hoo 2024. All Rights Reserved.
            </div>
            권영후 개인 웹프로젝트
        </div>
        <!-- * app footer -->

    </div>
    <!-- * App Capsule -->

    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="index.html" class="item">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>Overview</strong>
            </div>
        </a>
        <a href="app-pages.html" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>Pages</strong>
            </div>
        </a>
        <a href="app-components.html" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>Components</strong>
            </div>
        </a>
        <a href="app-cards.html" class="item">
            <div class="col">
                <ion-icon name="card-outline"></ion-icon>
                <strong>My Cards</strong>
            </div>
        </a>
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>Settings</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->



    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="/js/plugins/splide/splide.min.js"></script>
    <!-- Apex Charts -->
    <script src="/js/plugins/apexcharts/apexcharts.min.js"></script>
    <!-- Base Js File -->
    <script src="/js/base.js"></script>
    
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.chart-example-1').forEach(chart => new ApexCharts(chart, chartExample1).render());
            document.querySelectorAll('.chart-example-2').forEach(chart => new ApexCharts(chart, chartExample2).render());
            document.querySelectorAll('.chart-example-3').forEach(chart => new ApexCharts(chart, chartExample3).render());
            document.querySelectorAll('.chart-example-4').forEach(chart => new ApexCharts(chart, chartExample4).render());
            document.querySelectorAll('.chart-example-5').forEach(chart => new ApexCharts(chart, chartExample5).render());
        })
    </script> -->

</body>
{{/stock_detail}}

</html>