<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Finapp</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/192x192.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="__manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script> <!-- Mustache.js 라이브러리 추가 -->
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton">
                <ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">내 포트폴리오</div>
        <div class="right">
            <a href="#" class="headerButton">
                <span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPortfolio">+</span>
            </a>
        </div>
    </div>
    <!-- * App Header -->
    
    <!-- Add Portfolio -->
    <div class="modal fade modalbox" id="AddPortfolio" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">포트폴리오 추가</h5>
                    <a href="#" data-bs-dismiss="modal">닫기</a>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form id="portfolioForm">
                                <div class="form-group basic">
                                    <div class="input-wrapper">
                                        <label class="label" for="portfolioName">포트폴리오명</label>
                                        <input type="text" class="form-control" id="portfolioName" placeholder="입력">
                                        <i class="clear-input">
                                            <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info">포트폴리오명을 입력해주세요!</div>
                                </div>
        
                                <div class="form-group basic">
                                    <div class="input-wrapper">
                                        <label class="label" for="portfolioDetail">설명 (선택)</label>
                                        <input type="text" class="form-control" id="portfolioDetail" placeholder="입력">
                                        <i class="clear-input">
                                            <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info">어떤 포트폴리오인지 설명해주세요!</div>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary btn-block" onclick="submitForm()">포트폴리오 추가</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Add Portfolio -->



    <!-- App Capsule -->
    <div id="appCapsule">
        {{#portfolios}}
        <!-- Top Coins -->
        <div class="section mt-2">
            <div class="section-title">{{portfolioName}} <button type="button" class="btn btn-primary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#AddStocks" data-modal-portfolio-id="{{portfolioId}}">종목 추가하기</button> </div>
            <!-- Add stocks -->
            <div class="modal fade modalbox" id="AddStocks" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">종목 추가</h5>
                            <a href="#" data-bs-dismiss="modal">닫기</a>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group searchbox">
                                        <input type="text" class="form-control">
                                        <i class="input-icon">
                                            <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        {{#stock_list}}
                                        <div class="col-6 mb-2">
                                            <div class="bill-box">
                                                <div class="img-wrapper">
                                                    <img src="assets/img/sample/brand/1.jpg" alt="img" class="image-block imaged w48">
                                                </div>
                                                <div class="price" id="Ticker">{{ticker}}</div>
                                                <p>{{name}}</p>
                                                <a href="#" class="btn btn-primary btn-block btn-sm" onclick="addStock('{{ticker}}')">추가</a>
                                            </div>
                                        </div>
                                        {{/stock_list}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * Add stocks -->
            <div class="card">
                <ul class="listview flush transparent no-line image-listview detailed-list mt-1 mb-1" id="portfolioStockContainer" data-portfolio-id="{{portfolioId}}">
                    <!-- item -->
                    #####
                    <!-- * item -->
                </ul>
            </div>
        </div>
        <!-- Top Coins -->
    {{/portfolios}}
    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="index.html" class="item">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>Overview</strong>
            </div>
        </a>
        <a href="app-pages.html" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>Pages</strong>
            </div>
        </a>
        <a href="app-components.html" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>Components</strong>
            </div>
        </a>
        <a href="app-cards.html" class="item">
            <div class="col">
                <ion-icon name="card-outline"></ion-icon>
                <strong>My Cards</strong>
            </div>
        </a>
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>Settings</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->



    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="/js/plugins/splide/splide.min.js"></script>
    <!-- Apex Charts -->
    <script src="/js/plugins/apexcharts/apexcharts.min.js"></script>
    <!-- Base Js File -->
    <script src="/js/base.js"></script>
    
    <script src="/js/lib/addPortfolio.js"></script>
    <script src="/js/lib/addPortfolioStock.js"></script>
    <script src="/js/lib/getPortfolioStock.js"></script>

</body>

</html>